{% extends postorius_base_template %}
{% load i18n %}

{% block subtitle %}
{% trans 'Confirm domain removal' %} | {{ domain}}
{% endblock %}

{% load nav_helpers %}

{% block main %}

    <div class="page-header">
        <h2>{% trans 'Confirm deletion' %}</h2>
    </div>

    <p>{% trans 'Are you sure you want to permanently delete this domain?' %}</p>

    <form action="{{submit_url}}" method="post">
        {% csrf_token %}
        <button class="btn btn-danger" type="submit">{% trans 'Delete' %} {{ domain }}</button>
        <a class="btn btn-default" href="{% url 'domain_index' %}">{% trans 'Cancel' %}</a>
    </form>

{% endblock main %}
